<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <ul class="nav nav-tabs heading">
      <h5 id="greeting">Hello <%= current_user.email %></h5>
    </ul>
  <% end %>
  <%= yield %>

</body>
</html>
