<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <ul class="nav nav-tabs heading">
      <p id="greeting">Hello <%= current_user.email %></p>
      <a href="#notes/new" class="btn btn-small header_button">Create New Note</a>
    </ul>
  <% end %>
  <%= yield %>

</body>
</html>
