<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://cdn.peerjs.com/0/peer.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <ul class="nav nav-tabs heading">
      <div id="currentUser" data-id="<%=current_user.id%>"></div>
      <p class="logo">Simple-Note</p><p id="greeting">Hello <%= current_user.email %></p>
       <a href="/logout" class="btn btn-small header_button">Logout</a>
      <a href="#notes/new" class="btn btn-small header_button">Create New Note</a>
    </ul>
  <% end %>
  <%= yield %>

</body>
</html>
